*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section
{
position: relative;
width: 100%;
height: 100vh;
display: flex;
}

section .Bg_img
{
    position: relative;
    width: 50%;
    height: 100%;
}

section .Bg_img::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg,#e91e63,#03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
}

section .Bg_img img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

section .contentBg
{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

section .contentBg .form
{
    width: 50%;
}

section .contentBg .form h2
{
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}

section .contentBg .form .input
{
    margin-bottom: 20px;
}

section .contentBg .form .input span
{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}

section .contentBg .form .input input
{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

section .contentBg .form .input input[type="submit"]:hover
{
    background: yellowgreen;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section .contentBg .form .remember
{
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;

}

section .contentBg .form .input p
{
    color: #e91e63;
}

section .contentBg .form .input p a
{
    color: rgb(43, 32, 197);
}

section .contentBg .form h3
{
    color: #607d8b;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
    

}

section .contentBg .form .sm
{
    display: flex;
    justify-content: center;
    align-items: center;
}

section .contentBg .form .sm li 
{
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #607d8b;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
    
}

